.modal-header{
  background-color: blue;
  color:white;
}

.btn-close{
  color: white;

}
.form-check-input{
  margin-left:100px;
  margin-right:3px;
  margin-top:0px
}
.modal-footer{
  background-color: lightblue;
}
.card{

  display:flex;
  flex-direction: row;

  margin:8px;

  background-color: #fff;
  text-align: left;
  border-radius: 5px;

}
.card-view{
margin-right:3px;
}
.form-check{
  margin-left:0px;
}
.modal fade{
  width: 800px;
}
.form-control{
  width: 280px;
  margin-top:30px;
}
.body-content{
  margin-bottom: 180px;
}
