


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  USE EXISTING CUSTOM FIELDS
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" >
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h1 class="modal-title fs-5" id="exampleModalLabel">Use Existing Attributes</h1>

        </div>
        <br/>
        <div>
          <P>Select from the pool of existing attributes. Click on an attribute to view its details.</P>
        </div>
        <button type="button" class="btn-close" disabled aria-label="Close"></button>

      </div>
    <div class="body-content">

     <app-search></app-search>
    <app-cards></app-cards>









      </div>

    </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-secondary">CANCEL</button>
        <button type="button" class="btn btn-primary">ADD SELECTED FIELDS</button>
      </div>
    </div>
  </div>

