


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  USE EXISTING CUSTOM FIELDS
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" >
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <app-header></app-header>

        <button type="button" class="btn-close" disabled aria-label="Close"></button>

      </div>
    <div class="body-content">


        <app-cards></app-cards>

    </div>
        <app-footer></app-footer>
<!--      <app-footer2></app-footer2>-->
    </div>

    </div>
  </div>

